
<% if (posts.length == 0) { %>
  No se ha marcado ningún post como favorito
<% } %>

<% for (var i in posts) { %>
  <div class="post">
    <div class="page-header">
      <h1>
        <a href='/posts/<%= posts[i].id %>' class='titlelink'> <%= posts[i].title %> </a>
        <small>por <em> <%= posts[i].author && posts[i].author.name || "Sin autor" %> </em></small>
      </h1>
     <em> <%= posts[i].updatedAt.toLocaleDateString() %></em>
   </div>
     <p>
        <%= posts[i].body.slice(0,1000) %> ... 
     </p>

  </div>
<%  }; %>

